<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>617034955750-ot82oku63o1mit9o7hvs6458jc8kqdo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.617034955750-ot82oku63o1mit9o7hvs6458jc8kqdo4</string>
	<key>API_KEY</key>
	<string>AIzaSyBH4HhjumGocFH0SsBOciNU7yY5yN3opV0</string>
	<key>GCM_SENDER_ID</key>
	<string>617034955750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Morodin.MakeABeep</string>
	<key>PROJECT_ID</key>
	<string>makeabeep-f6c43</string>
	<key>STORAGE_BUCKET</key>
	<string>makeabeep-f6c43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:617034955750:ios:44b6f5ff1308dde5</string>
	<key>DATABASE_URL</key>
	<string>https://makeabeep-f6c43.firebaseio.com</string>
</dict>
</plist>